body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Roboto,Arial,sans-serif;
  color: #747474; 
  /* padding-top: 70px; */
 -webkit-font-smoothing: antialiased;

}

header {
  background-color: white;
  padding: 20px;
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);;
}
header nav{
  display: flex;
  justify-content: space-between;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  margin-right: 20px;
}
header nav ul li a {
  color: #ababab;
  text-decoration: none;
  
}
 .active {
  color:#00b39b;
  text-decoration: none;
 
}
.logo-docplanner{
width: 268px;
height: 33px;
}
.navigation{
display: flex;
justify-content: end;
}
.hero {
  /* background-color: #f5f5f5; */
  text-align: center;
  margin: 2.0625rem auto 3.75rem;
  
}
.hero h1{
  /* background-color: #f5f5f5; */
  text-align: center;
  font-size: 2.125rem;
  color: #00b39b;
  font-weight: 300;
}
.h1{
  font-size: 2.125rem !important;
  color: #00b39b !important;
  margin: 1em 0;
}
.section__inner{
  zoom:1;
  padding: 0 20px;
  position: relative;

}
.grid{
  margin: 0 -10px;
  display: flex;
}
.col-2{
  width: 50%;
}
.col-3{
  width: 33.33%;
}
.col-2 p{
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
  
 
}

[class*=col-]{
  float: left;
  min-height: 1px;
  padding: 10px;
}
.services{
  margin: 3.75rem auto 2.5rem;
}
.fade-elements>.fade-elements__visible{
  transform: translate(0);
    opacity: 1;
}
.fade-elements>* {
  transition: all .35s ease 0s;
}
.services__item--marketplace{
  background: #00ccb1;
}
.services__item{
  border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}
.services .fade-elements .fade-elements__visible .services__item>* {
  opacity: 1;
  transform: translate(0);
}

.services .fade-elements .services__item>:first-child {
    transition-delay: .25s;
}
.services .fade-elements .services__item>* {
  opacity: 0;
  transform: translate(30px);
  transition: all .25s ease .25s;
}

.services__item img {
  margin-bottom: -0.4em;
}

.services__item h1 {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
}
.services__item h2 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  color: #fff;
}

.services .style-select:last-child {
  margin-bottom: 35px;
}
.services .style-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  background: none;
  border: 0;
  color: #fff !important;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: .04em;
  font-size: 1.2rem;
  text-align: center;
}
.style-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background: #3d83df;
  font-family: Work Sans,Arial,sans-serif;
  color: #333;
  background: #fff;
  font-weight: 600;
  letter-spacing: .04em;
  font-size: .75rem;
  text-align: center;
  text-decoration: none!important;
  transition: all .2s ease 0s;
  cursor: pointer;
}

.services .style-select select {
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 2em 0 0;
  -webkit-appearance: none;
  outline: 0;
  text-transform: none;
  text-decoration: underline;
  cursor: pointer;
}

.style-select select {
  width: 100%;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 3.5em 0 1.5em;
  height: 40px;
  -webkit-appearance: none;
  text-transform: uppercase;
  outline: 0;
}

.services .style-select select option {
  font-size: 1rem;
  line-height: 1.2;
  color: #333;
}

.services__item--saas {
  background: #3d83df;
}

.services__item--clinics {
  background: #1b2734;
}

.brands {
  margin: 2.5rem auto 3.125rem;
  display: flex;
}
h1 {
  font-size: 2.125rem;
  color: #00b39b;
}
.brands h1 {
  float: left;
  width: 33%;
  font-size: 1.625em;
  margin: 0.25em 0 0.35em;
  padding-right: 1em;
}
.brands__logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0;
  list-style: none;
  width: 67%;
}
.brands__logos li {
  font-size: 1rem;
  display: inline-block;
  margin-top: 0;
  padding: 5px 0 5px 5px;
  width: 25%;
}
.brands__logos a {
  display: inline-block;
  padding: 5px 0;
}
a {
  text-decoration: none;
  color: #3d83df;
  outline: 0;
  transition: all .2s ease 0s;
}

.brands__logos .tuotempo img {
  height: 16px;
}

.brands__logos .clinicloud img, .brands__logos .gipo img {
  height: 34px;
}
.brands__logos .clinicloud img, .brands__logos .feegow img, .brands__logos .gipo img, .brands__logos .jameda img, .brands__logos .tuotempo img {
  transition: all .2s ease 0s;
  filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
  -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
  opacity: .55;
}
.brands__logos a svg {
  height: 20px;
  width: auto;
  max-width: 100%;
}

.brands__logos a path {
  transition: all .2s ease 0s;
  fill: hsla(0,0%,67%,.7);
}
svg:not(:root) {
  overflow: hidden;
}
  .img1{ width: 100px;}

  .services {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .service {
    width: 30%;
    background-color: #076e3e;
    padding: 20px;
    margin-bottom: 20px;
  }
  .service:nth-child(1) {
    background-color: #866606;
  }
  .service:nth-child(2) {
    background-color: #28a745;
  }
  .service:nth-child(3) {
    background-color: #10545e;
  }
  